@import "base/reset.css";
@import "base/typography.css";

@import "views/item-list-view.css";
@import "views/main-view.css";
@import "views/welcome-view.css";

:root {
  --minecraft-black: #171615;
  --minecraft-grey-6: #1d1c1b;
  --minecraft-grey-5: #262423;
  --minecraft-grey-4: #3d3938;
  --minecraft-grey-3: #6b6562;
  --minecraft-grey-2: #aba09c;
  --minecraft-grey-1: #d0c5c0;
  --minecraft-white: #f0f0f0;
  --minecraft-green-6: #2a641c;
  --minecraft-green-5: #3c8527;
  --minecraft-green-4: #52a535;
  --minecraft-green-3: #6cc349;
  --minecraft-green-2: #86d562;
  --minecraft-green-1: #a0e081;
}

input {
  height: 48px;
  padding: 8px 12px;
  background: var(--minecraft-grey-4);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.5) inset;
  color: var(--minecraft-white);
  border: 2px solid #898481;
}

input[type="checkbox"] {
  box-shadow: none;
  width: 30px;
  height: 30px;
}

select {
  height: 48px;
  padding: 8px 12px;
  background: var(--minecraft-grey-4);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.5) inset;
  color: var(--minecraft-white);
  border: 2px solid #898481;
}

hr {
  border-top: 1px solid #3d3938;
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 24px 0;
}

button {
  cursor: pointer;
  background: var(--minecraft-green-5);
  box-shadow: inset 0 -6px 0 var(--minecraft-green-6),
    inset 0 6px 0 var(--minecraft-green-4);
  color: var(--minecraft-white);
  padding: 15px 28px;
}

button:hover {
  background: var(--minecraft-green-4);
  box-shadow: inset 0 -6px 0 var(--minecraft-green-5),
    inset 0 6px 0 var(--minecraft-green-3);
}

header {
  top: 0;
  width: 100%;
  background-color: rgba(38, 36, 35, 0.9);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
