#main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

#main-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-header-content h1 {
  margin-right: 25px;
}

#main-sidebar {
    background: var(--minecraft-green-6);
}


#main-filter-section div {
display: flex;
}

#main-items-container {
    padding: 20px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}