@font-face {
  font-family: "MinecraftReg";
  src: url("/assets/fonts/MinecraftReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MinecraftTen";
  src: url("/assets/fonts/MinecraftTen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/assets/fonts/NotoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "MinecraftTen", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

h1 {
  font-size: 2.2em;
}

p {
  font-family: "NotoSans", monospace;
  font-weight: 600;
}

input {
  font-family: "NotoSans", monospace;
  font-weight: 600;
}

button {
  font-family: "NotoSans", monospace;
  font-weight: 800;
}
